.form{
	background-color: lightgrey;
  	border: 1px solid black;
}

.form input[type=number]{
	float:right;
}

#map{
	/* border: 1px solid black; */
}

.hide{
	display: none;
}

.line{
	height: 5px;
}

.case{
	display: inline-block;
	width: 5px;
	height: 5px;
}

canvas{
	background-color: black;
}

.height0{
	background-color: #42C6FF;	
}
.height1{
	background-color: #62FF42;	
}
.height2{
	background-color: #44D627;	
}
.height3{
	background-color: #36B51D;	
}
.height4{
	background-color: #31961D;	
}
.height5{
	background-color: #267317;	
}
.height6{
	background-color: #1D4F13;	
}
.height7{
	background-color: #57382B;	
}
.height8{
	background-color: #4A342A;	
}
.height9{
	background-color: #999999;	
}
.height10{
	background-color: white;	
}
.blue{
	background-color: #42C6FF;
}
.player{
	background-color: red;
}

.active{
	background-color: lightgrey;
}

#tracker {
	list-style-type: none;
}

.ui>div>div.percent {
	background-color: lightgrey;
	width: 100px;
}

.ui>div>div.percent>span {
	display: inline-block;
	background-color:green;
}

.ui.dead {
	background-color: grey;
}

audio {
	display: none;
}